img{
height: 100%;
width: 100%;
}
.row{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.vertical-collage img{
    height: calc((100% - 5px)/2);

}
.row > div{
    flex: 1;
}
.square-collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
/* Responsive media qurery */
@media screen and (max-width:576px) {
    .row{
        flex-direction: column;
        height: auto;
    }
    .square-collage{
        grid-template-columns: 1fr;
    }
    
}
/* Medium device query */
@media screen and(min-width:576) and (max-width:992px) {
    .row{
        flex-direction: column;
        height: auto;
    }
    
}